<container>
  <h1>Glossary</h1>
  <h2>Definitions to help you navigate the world of pensions</h2> 
  <div class = "center hero-unit">
  <table>
    <thead>
      <tr>
	<th>Term</th>
	<th>Definition</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <% @definitions.each do |definition| %>
	<tr>
          <td><%= link_to "#{definition.name}", definition %></td>
          <td><%= definition.def %></td>
          <td></td>
	  <% if signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_definition_path(definition) %></td>
          <td><%= link_to 'Destroy', definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <% end %>
	</tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Definition', new_definition_path %>
  </div>
</container>
