<p id="notice"><%= notice %></p>
<div class="center hero-unit">
  <h1>
    <strong><%= @post.title %></strong>
  </h1>
  <br/>
  <br/>
  <p>
    <%= simple_format(@post.content) %>
  </p>
</div>


<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<div class="center hero-unit">
  <% form_for @comment do |f| %>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit "Post Comment" %>
    </p>
  <% end %> 
</div>
