<div class="center hero-unit">
  <h1>
    <strong><%= @post.title %></strong>
  </h1>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
  <br/>
  <br/>
  <p>
    <%= simple_format(@post.content) %>
  </p>
</div>

<h2> Comments </h2>

<div id="comments">
  <% @post.comments.each do |comment| %>
    <%= render comment %>
  <% end %>

  <div class="hero-unit"
    <%= render 'comments/form' %>
  </div>
</div>
