<% if @header %>
  <header class="navbar navbar-fixed-top navbar-inverse" id="big">
<% else %>
  <header class="navbar navbar-fixed-top navbar-inverse">
<% end %>
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Kansas City Pensions",  main_app.root_path, id: "logo" %>
      <nav>
	<ul class="nav pull-right">
	  <li><%= link_to "Home",    main_app.root_path %></li>
	  <% if signed_in? %>
	    <% if current_user.admin? %>
	      <li><%= link_to "Users", main_app.users_path %></li>
	    <% end %>
	    <li id="fat-menu" class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Account <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><%= link_to "Profile", current_user %></li>
		<li><%= link_to "Settings", main_app.edit_user_path(current_user) %></li>
		<li class="divider"></li>
		<li>
		  <%= link_to "Sign out", main_app.signout_path, method: "delete" %>
		</li>
	      </ul>
	    </li>
	  <% else %>
	    <!-- These two links have to be qualified with main app so they work with forem, god knows why but otherwise it throws a NameError -->
	    <li><%= link_to "Sign Up", main_app.signup_path %></li>
	    <li><%= link_to "Sign in", main_app.signin_path %></li>
	  <% end %>
	</ul>
      </nav>
    </div>
    <div id="topButtons">
      <a href="/about" id="guide"><span>About</span></a>
      <a href="#" id="sippProv"><span>Sipp Providers</span></a>
      <a href="/glossary" id="how"><span>Glossary</span></a>
      <a href="/latest" id="who"><span>Blog</span></a>
      <a href="/forums" id ="forum"><span>Forum</span></a>
    </div>
  </div>
</header>
